{% extends "base.html" %}
{% block content %}
<div class="container pt-2">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <img class="img-fluid round" src="../static/images/FOZY.jpg" alt="Photo FOZAME">
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="container">
                <br>
                <h3>FOZAME ENDEZOUMOU</h3>
                <br>
                <div class="row">
                    <p>Passionate about mathematics and artificial intelligence and its applications in machine learning and computer vision, I undertake various projects to fulfill my dreams and also engage in research in the field of computer vision. 
                        My goal is to create a model that is fast, intuitive, generative on demand, attentive, and capable of recognizing objects in all circumstances.</p>
                    <p>
                        <i>“It is not by contemplating ideas, but by continually practicing that one can truly understand a concept.” - Aristotle</i>
                    </p>
                </div><br>
                <div class="row">
                    <div class="col-md-12">
                        Address: <a
                            href="https://www.google.com/maps/place/94230+Cachan/@48.7907298,2.3319606,14z/data=!3m1!4b1!4m6!3m5!1s0x47e6713b8ca26d31:0x1c0b82c6e1d88490!8m2!3d48.7910381!4d2.333472!16s%2Fg%2F1tjrp8vx?entry=ttu">
                            Cachan, France
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Mail: <a href="mailto:fozybryan@gmail.com">fozybryan@gmail.com</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Github: <a href="https://github.com/Bryan-Foxy">Bryan-Foxy</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        Linkedin: <a href="https://www.linkedin.com/in/bryan-fozame-3105821b0/">Bryan Fozame</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        CV: <a href="#">My CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row-lg-8 row-md-6 row-sm-2">
        <h4 id="title"><strong>About me:</strong></h4>
        <p>
            Hello! I'm a passionate first-year master's student in AI at Aivancity Paris. My educational journey began at the Private and Technological Higher School in Tunis, where I delved into the world of Intelligent Networks as a student engineer for four enriching years.
        </p>
        <p>
            From a young age, my fascination with new technologies and computers has been a driving force. As time progressed, I found myself drawn to the captivating realm of mathematics, serving as the bedrock for the marvels of modern technology. I take immense pleasure in exploring topics like algebra, optimization, operations research, and the intriguing intersection of probability and statistics.
        </p>
        <p>
            In the era of Big Data and ever-more powerful devices, we stand at the threshold of a new frontier where intelligent models can tackle everyday challenges, turning tasks once considered arduous or seemingly impossible with classical programming into achievable feats. My interest in computer vision was ignited as I contemplated its potential applications in understanding diseases, unraveling unexplained phenomena, and envisioning a new wave of smartphones contributing positively to society. This passion has grown deeper, spurred by my personal struggle with eye issues since childhood.
        </p>
        <p>
            One of my aspirations is to embark on a project that addresses the anticipation of eye-related problems. I envision a model that not only detects issues in advance but also serves as a valuable companion to medical professionals during ocular surgical procedures. Through this endeavor, I hope to contribute to advancements in healthcare and make a meaningful impact on individuals experiencing eye-related challenges.
        </p>
    </div>
    <hr>
    <div class="row-lg-8 row-md-6 row-sm-2">
        <h4 id="title"><strong>Technical skills:</strong></h4>
        <ul>
            <li><strong>Programming:</strong> Python, MATLAB, C/C++, OpenCV</li>
            <li><strong>Tools:</strong> Linux OS, Git </li>
        </ul>
    </div> 
    <hr>
    <div class="row-lg-8 row-md-6 row-sm-2">
        <h4 id="title"><strong>The Sustainable Development Goals and my vision of things and the use of AI:</strong></h4>
        <p>
            Climate change is the new global challenge, and it is crucial to be aware of it and undertake actions that will be beneficial for the environment.
            I am committed to carrying out projects that consistently align with the United Nations' sustainable development goals.
        </p>
        <p>
            Aligned with the Sustainable Development Goals and my commitment to environmentally conscious initiatives, I recognize the potential of AI in addressing climate change. 
            However, it's crucial to acknowledge that while AI models themselves don't emit CO2, their training, reliant on GPU computing power, contributes to emissions. 
            To address this, optimizing algorithms for reduced training time is imperative.
        </p>
        <p>
            Additionally, the exponential growth of data calls for a reevaluation of storage methods. Traditional data centers, due to their cost, size, and energy consumption, are unsustainable. A promising solution could be DNA-based storage, offering a sustainable alternative.
        </p>
        <p align="center"><img src="../static/images/sdg.jpg" class="sdg_img"></p>

    </div>
    <hr>
    <div class="row-lg-8 row-md-6 row-sm-2">
        <h4 id="title"><strong>Seasonal project:</strong></h4>
        <p>
            <i>"Like seasons, our projects are ephemeral but bring renewal. Each new endeavor is an opportunity to grow and flourish."</i>
        </p>
    <p>
        I've set myself a little game, each season deserves 1 project, so basically 4 seasonal projects per year.
        These are just the seasonal projects. I will post the project links on this site based on the year.
    </p>
    <ul>
        <li>Winter Project 2024: <a href="#" class="s1">Super Resolution in C++</a> </li>
        <li>Spring Project 2024: <a href="#" class="s1">A desktop application for creating new data with Generative Adversarial Network(GAN)</a> </li>
    </ul>

    </div>
    <hr>
    <div class="row-lg-8 row-md-6 row-sm-2">
        <h4 id="title"><strong>Few projects:</strong></h4>
        <div class="row">
            <div class="col-6 col-md-6 col-sm-6">
                <img src="../static/images/Heatmap Anomaly.png">
                <p align="center"><a href="#" class="s1">Predict IP paquet in NFV core</a></p>  
            </div>
            <div class="col-6 col-md-6 col-sm-6">
                Matlab-simulink
            </div>
        </div>
    </div>
    <hr>
    <div class="row-lg-8 row-md-6 row-sm-2">
        <h4 id="title">Others:</h4>
        <p>
            I love to discuss, share my opinion, 
            Sport , Read(Polar-Thriller-Scientific paper ^^), Philosophy, 
        </p>
        <p>
            I love playing tarot; 
            it's a fantastic game, and my grandfather, Armand DAVENEL, taught me how to play.
        </p>
        <p>
            He used to be a champion of tarot in France.
        </p>
        <p>
            Link if you want to try or play: <a href="https://www.jeu-tarot-en-ligne.com/" class="s1">Tarot card</a>
        </p>
    </div>
</div>
{% endblock %}