{% extends "base.html" %}

{% block content %}

<h2 align="center">My project</h2>

<div class="row mt-3">
    <div class="col-2 col-md-2">
        <p align="center"><img src="../static/images/Heatmap Anomaly.png" class = "ico_project"></p>
    </div>
    <div class="col-10 col-md-10 mt-3">
        <strong><a href="#" class="link_project">Analysis on route information failure in IP core networks by NFV-based test environment | Result(train = 94% and test = 92%)</a></strong>
        <p class="desc">(The stable and high-quality Internet connectivity is mandatory to 5G mobile
            networks.)</p>
    </div>
</div>
<hr>
<div class="row mt-3">
    <div class="col-4 col-md-2">
        Image
    </div>
    <div class="col-8 col-md-4">
        Description
    </div>
</div>

{% endblock %}